.step-five-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 500px;
    margin-inline: auto;
}
.step-five-wrapper img {
    height: 5rem;
    width: 5rem;
    margin-bottom: 2.5rem;
}

.step-five-wrapper p {
    color: var(--clr-gray);
    text-align: center;
    font-size: 1.15rem;
}