.step-one-form label {
    display: block;
    margin-bottom: 0.5rem;
}

.step-one-form input {
    font-size: 1rem;
    padding: 0.75rem;
    width: 100%;
    border: none;
    border: 1px solid var(--clr-gray);
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.step-one-form input.error {
    border: 1px solid red;
}

@media screen and (min-width: 1300px) {
    .step-one-form input {
        font-size: 1.1rem;
        padding: 1rem;
        margin-bottom: 2rem;
    }
}

.step-one-form input::placeholder {
    color: var(--clr-gray);
}

.step-one-form input:hover {
    border-color: var(--clr-purple);
}


.step-one-form__input-group {
    position: relative;
}

.step-one-form__error {
    color: var(--clr-red);
    position: absolute;
    right: 0;
    top: 0.2rem;
    font-weight: 700;
    font-size: var(--fs-small);
}

@media screen and (min-width: 1300px) {
    .step-one-form__error {
        top: 0;
        font-size: 1rem;
    }
}