.step-header p {
    color: var(--clr-gray);
}

.step-header {
    padding-bottom: 1rem;
}

@media screen and (min-width: 400px) {
    .step-header {
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 1300px) {
    .step-header p {
        font-size: 1.15rem;
    }
    .step-header {
        padding-bottom: 2rem;
    }
}