.plan-selector-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.plan-selector-btn {
    background-color: transparent;
    padding: 1rem;
    border: 1px solid var(--clr-light-gray);
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.plan-selector-btn.active {
    background-color: var(--clr-white-50);
}

.plan-selector-btn.active:hover {
    border: 1px solid var(--clr-light-gray);
}

.plan-selector-btn__details {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-start;
}

.plan-selector-btn__name {
    color: var(--clr-dark-blue);
    font-size: 1.2rem;
}

.plan-selector-btn__price {
    color: var(--clr-gray);
    font-size: var(--fs-small);
    font-weight: 400;
}

.plan-selector-btn:hover {
    border: 1px solid var(--clr-gray);
}

.plan-selector-btn img {
    width: 45px;
    height: 45px;
}

@media screen and (min-width: 1300px) {
    .plan-selector-btn img {
        width: 60px;
        height: 60px;
    }
    .plan-selector-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.6rem;
    }
    .plan-selector-btn {
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5rem;
        width: 100%;
    }
}

.monthly-yearly-selector {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    background-color: var(--clr-white-75);
    padding: 1rem;
    justify-content: center;
    border-radius: 0.5rem;
    font-weight: 500;
    color: var(--clr-gray);
}

.monthly-yearly-selector__input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.monthly-yearly-selector__label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: var(--clr-dark-blue);
	display: block;
	border-radius: 25px;
	position: relative;
}

.monthly-yearly-selector__label:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 17px;
	height: 17px;
	background: #fff;
	border-radius: 23px;
	transition: 0.3s;
}

.monthly-yearly-selector__input:checked + .monthly-yearly-selector__label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.monthly-yearly-selector__active {
    color: var(--clr-dark-blue);
}